body {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.mainButton{
    background-color: green;
    color: white;
}    

.mainButton:hover{
    box-shadow: 1px 1px green;
}

.hmainButton{
    background-color: cadetblue;
    color: white;
}

.hmainButton:hover {
    box-shadow: 1px 1px cadetblue;
}